---
layout: archive
title: "Talks and Conferences"
permalink: /talks/
author_profile: true
---
<h2>Conferences and Summer Schools attended </h2>
<ul>
<li> Spectral Analysis of Schr&ouml;dinger Operators, ICERM, RI, USA, Aug. 19– Aug. 23, 2024.   </li>
<li> Nonlinear PDEs Summer School at UC Berkeley, UC Berkeley, CA, USA, Jun. 12– Jun. 14, 2024.   </li>  
<li> Rivi&egrave;re-Fabes Symposium on Analysis and PDE, University of Minnesota, MN, USA, Apr. 19– Apr. 21, 2024.   </li>  
<li> Recent Advances in Mathematical Fluid Dynamics Duke University, Duke University, NC, USA, May. 16- May. 24, 2023  </li>
</ul> 

{% if site.talkmap_link == true %}
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
