---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>At Brown Univerisity </h2>
<ul>
<li>Teaching Assistant - MATH 0180 Calculus III - 2024 Spring </li>
<li>Teaching Assistant - MATH 0180 Calculus III- 2023 Fall </li>
<li>Teaching Assistant - MATH 0100 Calculus II - 2023 Spring </li>
</ul>


<h2>At USTC </h2>  
<ul>
<li>Teaching Assistant - Riemannian Geometry - 2022 Spring </li>
<li>Teaching Assistant - Topology - 2022 Spring </li>
<li>Teaching Assistant - Differential Geometry - 2021 Fall</li>
<li>Teaching Assistant - Topology - 2021 Spring </li>
</ul>
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
