---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>At Brown Univerisity </h2>
Teaching Assistant - MATH 0180 Calculus III - 2024 Spring 
Teaching Assistant - MATH 0180 Calculus III- 2023 Fall
Teaching Assistant - MATH 0100 Calculus II - 2023 Spring



<h2>At USTC </h2>  
Teaching Assistant - Riemannian Geometry - 2022 Spring
Teaching Assistant - Topology - 2022 Spring
Teaching Assistant - Differential Geometry - 2021 Fall
Teaching Assistant - Topology - 2021 Spring

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
